.App {
  /* background-color: rgb(9, 21, 21); */
  margin-top: 10px;
}
.App h1{
  text-align: center;
  /* margin-bottom: 10%; */
}
.App .footer {
  /* margin-top: 10%; */
  color: blue;
}
.content{
  height: auto;
  /* margin-top: 100px; */
  /* background-color: rgb(161, 232, 94); */
}
.content h1{
  text-align: center;
}
.content hr{
  display: block;
  height: 5px;
  margin-left: 47%;
  /* text-align: center; */
  background-color: rgb(26, 97, 0);
  width: 100px;
  text-align: center;
}
/* .content .reviews-box{
  width: 90%;
  margin-left: 5%;
  border-radius: 10px;
  height: auto;
} */