.style{
    text-align: center;
    color: white;
    background-color: black;
    width: 90%;
    margin-left: 5%;
    border-radius: 10px;
}
/* .style .container {
    height: auto;
} */
.style h1{
    color: red;
}
.image {
    height: 100px;
    width: 100px;
    will-change: filter;
  }
.image1 {
    height: 50%;
    width: 40%;
    margin-left: 5%;
    will-change: filter;
  } 
.button1 {
    /* margin-left: 20%; */
    margin-right: 20%;
    border-radius: 7px;
    font-size: large;
    color: white;
    background: #000;
}
.button2 {
    margin-left: 20%;
    border-radius: 7px;
    font-size: large;
    color: white;
    background: #000;
    /* margin-right: 15%; */
}
@keyframes image-spin {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}
  
@media (prefers-reduced-motion: no-preference) {
    .image {
    animation: image-spin infinite 20s linear;
}
}


.style .name{
    color: yellow;
}
.style .designation{
    color: green;
}
.style p{
    margin-left: 10%;
    max-width: fit-content;
    margin-right: 10%;
}

.style form input{
    padding: 8px 10px;
    border-radius: 20px;
    margin-top: 10px;
}